.under {
  display: flex;
  padding-top:10em;
  justify-content: space-around;
}
.under h3 {
  color:#557D55;
  margin-bottom: 6.5em;
  font-weight: 400;
}
.link{
  background-color: #557D55;
  width: 40%;
  padding: 1em;
  border-radius: .5em;
}
.link:hover {
  background-color: rgb(83, 173, 83);
  border: 1px solid #555577;
}
.link a {
  color: white;
}
.link a:hover {
  color: #557D55;
  
}
@media (max-width:700px){
  body {
      overflow-x:hidden ;
  }
  .under{
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }
  .const {
    margin-bottom:1em ;
    width: 100%;
  }
  .under h3 {
    color:rgb(56, 82, 56);
    margin-bottom: .5em;
    font-weight: 400;
  }
  .link{
    background-color:rgb(56, 82, 56);
    width: 40%;
    padding: .5em;
    border-radius: .2em;
  }

}